{% extends 'myblog/base.html' %}

{% block content %}
<div>
    <table class="table">
        <thead>
            <tr>
                <th>title</th>
                <th>published_date</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>
                    <a href="{% url 'myblog:post' post.pk %}">{{ post.title }}</a>
                </td>
                <td>{{ post.published_date | date:"Y-m-d" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                {% for page in page_range %}
                <a href="?page={{page}}">{{ page }}</a>
                {% endfor %}
            </span>
    
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
<a href="{% url 'myblog:write' %}">write</a>
{% endblock %}
