{% extends 'myblog/base.html' %}

{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>제목</th>
            <td>{{ post.title }}</td>
        </tr>
        <tr>    
            <th>발행일</th>
            <td>{{ post.published_date | date:"Y-m-d" }}</td>
        </tr>
        <tr>
            <th>내용</th>
            <td>{{ post.content }}</td>
        </tr>
        {% if post.files %}
        <tr>
            <th>첨부파일</th>
            <td>
                <a href="{{ post.files.url }}" target="_blank" >{{ post.files.name }}</a>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
<a href="{% url 'myblog:index' %}">목록</a>
<a href="{% url 'myblog:modi' post.pk%}">수정</a>
<a href="{% url 'myblog:delete' post.pk%}">삭제</a>
{% endblock %}